.cuerpo{
    background-color:#E6E7D9;
    display: flex;
    justify-content: center;

}
.catalogo{
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    gap: 10px;
}