.cartWidget {
    font-size: 1.5rem;
  }

  .cartWidgetContainer{
    display: flex;
  }

  .numerito{
    background-color: red;
    border-radius: 30%;
    text-align: center;
    padding: 2px;
    position: relative;
    top: -12px;;
    left: -3px;
  }