.cartWidget {
    font-size: 1.5rem;
  }

  .cartWidgetContainer{
    display: flex;
    background-color: green;
  }

  .numerito{
    background-color: red;
    border-radius: 50%;
    text-align: center;
  }