
*{
    box-sizing: border-box;
}
.capacitacionesCard{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    background-color: #ddc4a6;
    text-align: center;
    margin: 30px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 1.2s;
    cursor: pointer;
}

.capacitacionesCard:hover{
    transform: scale(1.02); 
}

.capacitacionesImg{
    width: 250px;
}


