.contadorContainer {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background-color: rgb(187, 139, 139);
  gap: 5px;
  padding: 15px;
  height: 200px;
}

.controladores {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 150px;
  gap: 10px;
  background-color: blue;
  flex-wrap: wrap;

}
.controladores .numero {
  font-weight: bold;
  font-size: 2rem;
}

.controladores .sumAdd {
  font-size: 1.3rem;
}

.controladores .restar {
  background-color: red;
}
.controladores .sumar {
  background-color: green;
  
}



.botones {
  display: flex;
  gap: 20px;
}
